.user-show-container {
    padding-top: 80px;
    height: 100vh;
    width: 100vw;
    
}

.user-show-header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-show-header {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 350px;
}

.user-show-profile-pic{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 50px;
    font-weight: 600;
}


.user-show-container .user-show-header>h1 {
    font-size: 36px;
    font-weight: 600;
}

.user-show-container .user-show-header>p {
    color: #767575;
}

.user-show-content-container{
    top:80px;
    z-index: 9;
    position: sticky;
}
.user-show-content-labels{
    padding-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
}

.user-show-content-flexbox{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.create-save-button{
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    padding: 8px;
    user-select:none;
    cursor: pointer;
}

.create-save-button:hover {
   
    background-color: #e2e2e2;
   
}


.create-save-button >p{
    font-weight: 600;
    font-size: 16px;
    color: #111;
}


.plus-menu {
    background-color: white;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-indent: 15px;
    right: 0px;
    top: 50px;
    z-index: 6;
}

.plus-menu-title {
    font-size: 12px;
    font-weight: normal;
}

.plus-menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
}

/* .plus-menu:hover {
    background: gray
} */

.plus-menu.open {
    opacity: 1;
    visibility: visible;
}

.plus-circle-clicked {
    background-color: black;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}

.plus-clicked {
    color: white;
}

.user-show-plus-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 40px;
    font-weight: 650;
    width: 100%;
    height: 5%;
    z-index: 7;
}

.user-show-plus-container >div {
    margin-right: 15px;
    color: #111;
}

.user-show-plus-container i {
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 28px;
}

.plus-circle-unclicked:hover {
    background-color: #767575;
}

.button-container{
    border-radius: 8px;
    cursor: pointer;
    
}

.button-container:hover{
    background-color: #e9e9e9;
}

.plus-create-click{
    font-weight: 600;
    font-size: 16px;
    color: #111;
}

.top-ref {
    height: 1px;
    width: 100%;
    position: absolute;
    top: -100px;
}

.user-show-saved-created-box{
    
    left: 0;
    right: 0;
    bottom: 0;
    /* position: absolute; */
    display: flex;
    justify-content: center;
}
.created-pins-container{

}