.delete-board-modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 100;
    flex-direction: column;
}

.delete-board-modal-background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .8);
    cursor: zoom-out;
    z-index: 110;
}

.delete-board-modal-foreground{
   width: 540px;
   height: 220px;
   margin-right: 16px;
   margin-left: 16px;
   border-radius: 16px;
   display: flex;
   position: relative;
   overflow: auto;
   background-color: #fff;
   max-height: calc(100vh -32px);
    z-index: 111;
}



.delete-board-modal-title{
    box-sizing: border-box;
    position: relative;
    z-index: 8;
    max-width: 100%;
    height: 81px;
    width: 540px;
   
}
.delete-board-modal-title-box{
    height: 81px;
    width: 540px;
    
}

.delete-board-modal-confirm-box {
    height: 51px;
    width: 540px;

}

.delete-board-modal-title >p{
    text-align: center;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    color: #111;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.delete-board-modal-title-confirm{
    box-sizing: border-box;
    position: relative;
    z-index: 8;
    max-width: 100%;
    height: 81px;
    width: 540px;
}

.delete-board-modal-confirm{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px;
    flex-direction: row;
}

.delete-board-modal-confirm >p{
    font-size: 16px;
    font-weight: 400;

}

.delete-board-options{
    z-index: 6;
    box-sizing: border-box;
    position: relative;
    width: 540px;
    height: 88px;

}

.delete-board-options-box{
    box-sizing: border-box;
    padding: 24px;

}

.delete-board-options-flexbox{
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.button-cancel {
    border: 0;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 40px;
    
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 24px;
    transition: transform 85ms ease-out;
    background-color: #efefef;
    margin-right: 8px;
    margin-left: 8px;
}

.button-cancel:hover {
    background-color: #ddd;
}

.delete-board-button-cancel {
    border: 0;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 40px;

    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 24px;
    transition: transform 85ms ease-out;
    background-color: #efefef;
    margin-right: 8px;
    margin-left: 8px;
}

.delete-board-button-cancel:hover {
    background-color: #ddd;
}

.delete-board-button-delete {
    border: 0;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 40px;

    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 24px;
    transition: transform 85ms ease-out;
    background-color: #e60023;
    margin-right: 8px;
    margin-left: 8px;
    color: #fff;
}

.delete-board-button-delete:hover {
    background-color: #ad081b;
}