img {
    
    max-height: var(--pinDefaultHeight);
}

.pin-photo-container{
    margin: 0;
    width: 236px;
    display: inline-block;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    /* padding-left: 8px;
    padding-right: 8px; */
}

.pin-photo > img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: var(--pinDefaultWidth);
}



.pin-item-title {
    font-size: 14px;
    font-weight: 600;
    
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 0px) {
    .pins-index-container {
        column-count: 2;
        column-gap: 16px;
        width:488px;
    }
}

@media (min-width: 740px){
    .pins-index-container {
        column-count: 3;
        column-gap: 16px;
        width: 740px
    }
}

@media (min-width: 992px) {
    .pins-index-container {
        column-count: 4;
        column-gap: 16px;
        width: 992px;
    }
}

@media (min-width: 1244px) {
    .pins-index-container {
        column-count: 5;
        column-gap: 16px;
        width: 1244px
    }
}

@media (min-width: 1496px) {
    .pins-index-container {
        column-count: 6;
        column-gap: 16px;
        width:1496px
    }
}

@media (min-width: 1748px) {
    .pins-index-container {
        column-count: 7;
        column-gap: 16px;
        width:1748px
    }
}