

.pin-close-up {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: zoom-out;
}

/* .pin-show-contianer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
    cursor: zoom-out;
} */

/* .pin-show-box {
    max-width: 994px ;
    box-sizing: border-box;
    display: block;
}
 */




.pin-show-box {
    z-index: 1;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 603px;
    width: 1016px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
}
.pin-image-outbox{
    padding: 20px;
   
}

.pin-show-image-container {
       /* width: 100%;
        height: 100%; */ 
        height: 563px;
        width: 468px;
        border-radius: 16px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #efefef;
        position: relative;
}

.pin-show-right-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.pin-show-heading {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        min-height: 50%;
}

.pin-interaction-bar{
    margin-top: 20px;
    min-height: 80px;
    width: 444px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pin-item-hover-out-box {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pin-item-hover-interaction {
    font-weight: 600;
    /* width: 250px;
    height: 80px; */
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.pin-dropdown-trigger {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.pin-dropdown-trigger >h1{
    font-size: 16px;
}

#dropdown-button{
    margin-left:8px;
    margin-right: 4px;
}

.save-button {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    width: 60px;
    height: 48px;
    border-radius: 24px;
    background-color: #e60023;
    cursor: pointer;
}

.pin-text{
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pin-title {
        min-height: 60px;
        line-height: 50px;
        font-size: 36px;
        font-weight: 600;
}

.pin-description {
    margin-top: 10px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
}

.pin-comments{
    height: 50%;
}

.edit-dropdown{
    z-index: 3;
    visibility: visible;
    top: 90px;
    left: -40px;
    min-height: 40px;
    min-width: 180px;
    max-height: 90vh;
    max-width: 90vw;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border-radius: 16px;
    box-sizing: border-box;
    display: block;
    position: absolute
}

.dropdown-more-options {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    color: var(--textDefault);

}

.edit-pin-container {
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    text-align: left;
}

.edit-pin-container:hover {
    background-color: #e9e9e9;
}

#dropdown-edit {
    border: none;
    background: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--textDefault);
}

.pin-create-more-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.pin-create-more-option:hover {
    background-color: #e9e9e9;
}

.pin-create-more-option>svg {
    width: 32px;
    height: 32px;
}

.pin-create-more-option-selected {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--defaultSelect);
}

.pin-create-more-option-selected>svg {
    width: 32px;
    height: 32px;
    color: white;
}

.pin-show-creator{
    margin-top: 24px;
    margin-bottom: 32px;
    align-items: center;
    display: flex;
    width: 444px;
    justify-content: left;
}

.pin-comments{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    min-height: 50%;
}

.pin-comments-box{
    margin-top: 60px;
    width: 444px;
    font-size: 20px;
    font-weight: 600;
}