

.pin-close-up {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: zoom-out;
}

/* .pin-show-contianer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
    cursor: zoom-out;
} */

/* .pin-show-box {
    max-width: 994px ;
    box-sizing: border-box;
    display: block;
}
 */




.pin-show-box {
    z-index: 1;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 603px;
    width: 1016px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
}
.pin-image-outbox{
    padding: 20px;
   
}

.pin-show-image-container {
       /* width: 100%;
        height: 100%; */ 
        height: 563px;
        width: 468px;
        border-radius: 16px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #efefef;
        position: relative;
}

.pin-show-right-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.pin-show-heading {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        min-height: 50%;
}

.pin-interaction-bar{
    margin-top: 20px;
    min-height: 80px;
    width: 444px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.pin-item-hover-interaction {
    font-weight: 600;
    width: 250px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.pin-dropdown-trigger {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pin-dropdown-trigger >h1{
    font-size: 16px;
}
.pin-item-hover-interaction >button{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    width: 70px;
    height: 50px;
    border-radius: 24px;
    background-color: #e60023;
    cursor: pointer;
}

.pin-text{
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pin-title {
        min-height: 60px;
        line-height: 50px;
        font-size: 36px;
        font-weight: 600;
}

.pin-description {
    margin-top: 10px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
}

.pin-comments{
    height: 50%;
}